/node_modules
/public/hot
/public/storage
/public/js/app.js
/package-lock.json
/public/mix-manifest.json
/public/css/*
/storage/*.key
/public/build
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker
